<div class="d-flex flex-column" style="position: relative; height: calc(100vh - 120px); width: 300px;">

    <div class="header">
   <nb-icon  class="cursor" icon="navigation-2"></nb-icon> Devices</div>
    <div class="searchInput">
      <input [(ngModel)]="searchTerm" class="search-deivce"
             fullwidth name="search" nbInput
             placeholder="Search devices" shape="rectangle" size="medium">
    </div>
    <hr style="margin: 0;">
    <div class="actionBar d-flex" style="width: 285px;">
      <nb-checkbox (checkedChange)="selectAll()"></nb-checkbox>
      <nb-actions size="small">
        <nb-action nbTooltip="toolpit" icon="menu-outline"></nb-action>
      </nb-actions>
      <nb-actions size="small"  style="margin-left:10px; margin-right: 10px;">
        <nb-action  nbTooltip="toolpit" icon="power-outline" ></nb-action>
        <nb-action  nbTooltip="toolpit" icon="person-outline"></nb-action>
        <nb-action   nbTooltip="toolpit" icon="home-outline"></nb-action>
      </nb-actions>
      <nb-actions  size="small" style="margin-left:20px">
        <nb-action   nbTooltip="toolpit" icon="options-2-outline"></nb-action>
        <nb-action   nbTooltip="toolpit" icon="home-outline"></nb-action>
      </nb-actions>
    </div>
    <hr style="margin: 0;">
<div style="overflow-y: auto">
    <nb-list>

      <nb-list-item *ngFor="let i= index, let device of devices | filter : 'name' : searchTerm">
        <div class="d-flex justify-content-between align-items-center" >
          <div class="d-flex flex-row device">
            <nb-checkbox (change)="checkDevice(device)"
                         [value]="checkDeviceStatus(device.id)" class="small">
            </nb-checkbox>
            <div (click)="selectDevice.emit(device);this.emit([device], true, true);">
              <span>{{device.name}}</span><p>{{device?.fixed_time | amTimeAgo: true}}</p></div>
<!--            <nb-user (click)="selectDevice.emit(device);this.emit([device], true, true);"-->
<!--                     [name]="device.name" [size]="'small'"-->
<!--                     [title]="device?.fixed_time | amTimeAgo: true"></nb-user>-->
          </div>


          <div class="d-flex ">


            <i [nbTooltip]="(device?.battery_level || 0 ) + '%'" class="eva-icon-container mr-3">
              <ng-container *ngIf="device?.battery_level > 25; else elseblock">
                <nb-icon [options]="{ width: 18, height: 18, fill: 'green' }" icon="battery"></nb-icon>
             </ng-container>
              <ng-template #elseblock>
                <nb-icon [options]="{ width: 18, height: 18, fill: 'red' }" icon="battery"></nb-icon>
              </ng-template>

            </i>


            <i class="eva-icon-container">
              <ng-container *ngIf="device?.on_duty === '1'; else offDuty">
                <nb-icon [options]="{ width: 18, height: 18, fill: 'green' }" icon="checkmark-circle-2"></nb-icon>
              </ng-container>
              <ng-template #offDuty>
                <nb-icon [options]="{ width: 18, height: 18, fill: 'red' }" icon="minus-circle"></nb-icon>
              </ng-template>
            </i>


          </div>
        </div>


      </nb-list-item>

    </nb-list>
  </div>
  <!-- <hr style="background-color: #505a64; margin: 0;"> -->
</div>
