<div class="d-flex flex-column justify-content-between" style="height: 100%;background: #f1f5f8">
	<div class="" style="flex-grow: 1;max-height: 450px;overflow-y: auto;">
		<h6 class="text-center py-2 mb-0" style="background: #6fc0da;color: #fff">Manage Zones</h6>
		<div class="row py-2 m-0" style="background:#bed5db;position: sticky;top:  0;">
			<div class="col-7">Name</div>
			<div class="col-2">View</div>
			<!--      <div class="col-2">Edit</div>-->
			<div class="col-2">Delete</div>
		</div>
		<nb-list>
			<nb-list-item *ngFor="let zone of zones; let i = index;"
						  class="d-flex justify-content-between align-items-center">
				<!--        <input [(ngModel)]="zone.name" nbInput shape="=rectangle" status="primary" style="width: 100px" #clickItem>-->

				<div (click)='editMode=true' *ngIf='!editMode' class='cell' style="width: 140px">{{ zone.name }}</div>
				<input (focusout)="saveZone(zone.id, zone)" (focusout)="editMode=false"
					   (keydown.enter)='$event.target.blur()'
					   (keydown.enter)='$event.target.blur()' *ngIf='editMode'
					   [(ngModel)]="zone.name" [(ngModel)]='zone.name' appAutofocus class='cellInput'
					   style="width: 140px">


				<nb-icon (click)="emitGeoFence.emit({data: zone, status: true, fitBound: true})"
						 [options]="{ fill: 'blue' }"
						 icon="eye-outline"></nb-icon>
				<!--        <nb-icon (click)="editZone(clickItem)" [options]="{ fill: 'grey' }" icon="edit-outline"></nb-icon>-->
				<!--        <nb-icon (click)="saveZone(zone.id, zone)" [options]="{ fill: 'grey' }" icon="save-outline"></nb-icon>-->
				<nb-icon (click)="deleteZone(zone.id, i)" [options]="{ fill: 'red' }" icon="trash-2-outline"></nb-icon>
			</nb-list-item>

		</nb-list>
	</div>

	<div class="d-flex justify-content-around py-3">
		<button (click)="addAll()" nbButton outline shape="rectangle" size="small"
				style="background:#4babc1;border: none;color: #fff">View All
		</button>
		<button (click)="clearAll()" nbButton outline shape="rectangle" size="small"
				style="background: #ed706a;border: none;color: #fff">Clear All
		</button>
	</div>
</div>
